<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
   
    <link rel="icon" href="assets/img/favicon.ico" />
    <title>Alt Blog - A medium to post your tech article</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

 
  </head>
  <body>
    <!-- Begin Nav
================================================== -->
<nav>
  <div class="menu-icon">
     <span class="fas fa-bars"></span>
  </div>
  <div class="logo">
     CodingNepal
  </div>
  <div class="nav-items">
     <li><a href="#">Home</a></li>
     <li><a href="#">About</a></li>
     <li><a href="#">Blogs</a></li>
     <li><a class="btn-tip" data-toggle="modal" data-target="#exampleModalCenter">
         <i class="fa fa-sign-in"></i> Sign Up
     </a></li>
  </div>
  <div class="search-icon">
     <span class="fas fa-search"></span>
  </div>
  <div class="cancel-icon">
     <span class="fas fa-times"></span>
  </div>
  <form action="#">
     <input type="search" class="search-data" placeholder="Search" required>
     <button type="submit" class="fas fa-search"></button>
  </form>
</nav>

    <%- body %>
    <footer class="container footer">
      <p class="pull-left">Copyright &copy; 2022 Alt Blog</p>
      <!-- <p class="pull-right">
      Mediumish Theme by
      <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
    </p> -->
      <div class="clearfix"></div>
    </footer>

    <!-- End Nav

      
================================================== -->

    <!-- Begin Site Title
================================================== -->

    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
      integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
